<a href="https://colab.research.google.com/github/Gabrielfernandes7/Gabrielfernandes7/blob/main/Intro_to_ml_kaggle_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# dataset salary
import pandas as pd

# Carregar o dataset
data_salary = pd.read_csv('/content/sample_data/Salary_dataset.csv')

data_salary.head(15)

    Unnamed: 0  YearsExperience   Salary
0            0              1.2  39344.0
1            1              1.4  46206.0
2            2              1.6  37732.0
3            3              2.1  43526.0
4            4              2.3  39892.0
5            5              3.0  56643.0
6            6              3.1  60151.0
7            7              3.3  54446.0
8            8              3.3  64446.0
9            9              3.8  57190.0
10          10              4.0  63219.0
11          11              4.1  55795.0
12          12              4.1  56958.0
13          13              4.2  57082.0
14          14              4.6  61112.0

In [10]:
# Informações descritivas do dataset
data_salary.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [11]:
# Colunas dos dados
print('Colunas')
data_salary.columns

Colunas

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

In [19]:
# dropna(axis=0) remove linhas do dataset salary_dataset.csv que possuem valores ausentes
filtered_data_salary = data_salary.dropna(axis=0)

In [20]:
# Selecione uma meta de previsão (prediction target)
y = filtered_data_salary.Salary

# Selecionar a feature
salary_feature = ['YearsExperience']
x = data_salary[salary_feature]

# describe() nos atributos
x.describe()

       YearsExperience
count        30.000000
mean          5.413333
std           2.837888
min           1.200000
25%           3.300000
50%           4.800000
75%           7.800000
max          10.600000

In [21]:
x.head(10)

   YearsExperience
0              1.2
1              1.4
2              1.6
3              2.1
4              2.3
5              3.0
6              3.1
7              3.3
8              3.3
9              3.8

# Construindo e utilizando um model

### Os passos para construir utilizar o modelo são:

* Passo 1: Definir modelo árvore de decisão (DecisionTreeRegressor), alguns outros tipos de modelo

* Passo 2: Treinamento (**Fit**) serve para captura padrões dos dados fornecidos

* Passo 3: Predição ou previsão, como se diz na expressão inglesa "just what it sounds like"

* Passo 4: Avaliar (Evaluate) a precisão dos modelos

In [22]:
from sklearn.tree import DecisionTreeRegressor

# Árvore de decisão regressor
salary_model = DecisionTreeRegressor(random_state=1)

salary_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [27]:
print('Fazendo as previsões de 5 pessoas de seus salários de acordo com os anos de esperiência \n')

print(x.head())

print('\n')

predict_salary = salary_model.predict(x)

print(f'Previsão do salário:\n {predict_salary}', end=' ')

Fazendo as previsões de 5 pessoas de seus salários de acordo com os anos de esperiência

   YearsExperience
0              1.2
1              1.4
2              1.6
3              2.1
4              2.3


Previsão do salário:
 [ 39344.   46206.   37732.   43526.   39892.   56643.   60151.   59446.
  59446.   57190.   63219.   56376.5  56376.5  57082.   61112.   67939.
  66030.   83089.   81364.   93941.   91739.   98274.  101303.  113813.
 109432.  105583.  116970.  112636.  122392.  121873. ]

# Model validation

### Validação do modelo:
Nessa lição você irá mensurar a qualidade da previsão do modelo. Mensurar a qualidade do modelo é a chave para iterativamente melhorar seus modelos.

Existem muitas métricas que servem para avaliar nossos modelos , mas nós iremos começar com uma chama da MAE (Mean Absolute Error)

In [32]:
from sklearn.metrics import mean_absolute_error

print('A Média do erro absolute é:\n ')
mean_absolute_error(y, predict_salary)

A Média do erro absolute é:

372.1

# O prolema das pountuações "in-sample"

O problema se encontra em utilizarmos uma única amostra para definir a precisão de nosso modelo

In [38]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

salary_model = DecisionTreeRegressor()
salary_model.fit(train_x, train_y)

val_predict = salary_model.predict(val_x)

print('A média do erro absoluto é:\n ')
print(mean_absolute_error(val_y, val_predict))

A média do erro absoluto é:

4853.75